html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #282c34;
    color: #abb2bf;
  }
}
